[submodule "Libraries/quack.shadergraphplus/Editor/Internal/NodeEditorPlus"]
	path = Libraries/quack.shadergraphplus/Editor/Internal/NodeEditorPlus
	url = https://github.com/QuackCola/NodeEditorPlus.git
